/*
----------------------
COLORS (RBG)
----------------------
rgb (34, 34, 34)
rgb (26, 162, 220)
rgb (255, 255, 255)
rgb (0, 0, 0)

----------------------
COLORS (HEX)
----------------------
#222222
#1AA2DC
#FFFFFF
#000000
*/

/*
MAIN BODY
*/
html, body {
    padding: 0;
    padding: 0;
}
body {
    background: #BBB;
    font-family: 'Montserrat', Helvetica, sans-serif;
    padding-bottom: 100px;
}

/*
.fixed-size-container {
    min-width: 1000px;
    max-width: 100vh;
    min-height: 100px;
    background-color: #222222;
}
*/

/*
MENU
*/
.content-container {
    background-color: #222222;
}
.top-section {
    /*
    CENTER TESTING
    */
    flex: 3;
    order: 2;
    max-width: 1300px;
    background-color: #F8E9A1;
    margin: 0 auto 0 auto;
    line-height: 1.65;
    padding: 0px 50px;
    display:flex;
    /*
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #FFF;
    padding: 0px;
    margin: -10px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 80px;
    max-height: 85px;
    */
}
.logo {
    flex: 1;
    order: 1;
    /*
    min-width: 90px;
    max-width: 95px;
    min-height: 90px;
    max-height: 95px;
    position: absolute;
    */
}
/*
.logo-img {
    min-width: 90px;
    max-width: 95px;
    min-height: 90px;
    max-height: 95px;
}
*/
.navigation {
    flex: 3;
    order: 2;
}
.hamburger-menu {
    flex: 1;
    order: 3;
    /*
    margin: right;
    position: relative;
    display: flex;
    right: 50px;
    */
}
.nav-button {
    top: -50px;
    background-color: ;
    border: none;
    color: #DDD;
    padding: 5px 20px;
    text-align: center;
    display: inline-flex;
}

/*
MOBILE
*/
/*
@media (max-width: 950px) {
    .content-container {
        background-color: #222222;

        display: flex;
        flex: 2;
        justify-content: space-between;
    }
    .logo {
        flex: 1;
        min-width: 80px;
        max-width: 85px;
        min-height: 80px;
        max-height: 85px;
        left: 0px;
    }
    .logo-img {
        min-width: 80px;
        max-width: 85px;
        min-height: 80px;
        max-height: 85px; 
    }
    .navigation {
        display: none;
    }
    .hamburger-menu {
        flex: 1;
        position: absolute;
        display: inline;
        margin-right: auto;
    }
    .bar-1 {
        width: 35px;
        height: 5px;
        background-color: #1AA2DC;
        margin: 6px 0;
    }
}
*/