/*
----------------------
COLORS (RBG)
----------------------
rgb (34, 34, 34)
rgb (26, 162, 220)
rgb (255, 255, 255)
rgb (0, 0, 0)

----------------------
COLORS (HEX)
----------------------
#222222
#1AA2DC
#FFFFFF
#000000
*/


html, body {
    padding: 0;
    margin: 0;
}
body {
    background: #BBB;
    font-family: 'Montserrat', Helvetica, sans-serif;
    padding-bottom: 100px;
}

/*
MENU
*/
.content-container {
    background-color: #222222;
}

.top-section {
    max-width: 1000px;
    background-color: #F8E9A1;
    margin: 0px auto 0 auto;
    line-height: 1.65;
    padding: 0px 50px;
    display:flex;
}
.logo {
    flex: 1;
    order: 1;
}
.navigation {
    flex: 2;
    order: 2;
}
/*
.hamburger-menu {
    flex: 1;
    order: 3;
}
*/
.nav-button {
    top: -50px;
    background-color: ;
    border: none;
    color: #DDD;
    padding: 5px 20px;
    text-align: center;
    display: inline-flex;
}