/*
BODY STYLE
*/
html, body {
    padding: 0;
    margin: 0;
}

body {
    margin: 0px;
    background-color: #000;
    font-family: Raleway, Helvetica, sans-serif;
    padding-bottom: 100px;
}

h1 {
    color: #fff;
}

h2 {
    color: #dfdfdf;
}

/*
----------------
Color Set #1
----------------
e3c4a8
4592af
226089
000000

----------------
Color Set #2
----------------
f0ece2
dfd3c3
c7b198
596e79

----------------
Color Set #3
----------------
5f2f14
1297bd
1ad7db
f3f1f1

.banner {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    min-height: 350px;
    max-height: 550px;
    max-width: 1400px;
    margin: 30px auto 0 auto;
    margin-bottom: 10px;
    padding: 20px 50px;
}

#bg-img {
    max-width: 1400px;
    background-image: url('../img/full-size/pratt-blueprint.jpg');
    background-size: cover;
    background-position: center center;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100vh;
    z-index: -10;
    max-height: 450px;
    max-width: 1400px;
}

#bg-img-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -5;
    max-height: 450px;
}

.title-text {
    color: #fff;
    font-size: 48px;
    margin: auto;
    flex: 1;
}
*/

/*
SITE
*/

.banner {
    flex: 1;
    max-width: 1400px;
    margin: 30px auto 0 auto;
}
.bg-img {
    min-height: 350px;
    max-height: 550px;
    background-image: url('../img/full-size/pratt-blueprint.jpg');

    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    flex-basis: 35%;
    font-size: 48px;
}
.bg-img-overlay {
    min-height: 350px;
    max-height: 550px;
    flex: 1;
    order: 2;
    max-width: 150px;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: -5;
}

/*
.motto-text {
    color: #f9f9f9;
    font-size: 50px;
    margin: auto;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
    flex-basis: 40%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%, -50%);
}
*/

/*
MAIN CONTENT
*/
.content-container {
    flex: 3;
    max-width: 1400px;
    margin: 30px auto 0 auto;
}
.content-area {
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
    flex-basis: 35%;
    background-color: #f3f1f1;
}
.content-img {
    background-color: #f3f1f1;
}
.topic-img {
    flex: 1;
    order: 2;
    max-width: 150px;
}

/*
Formatting for Links
*/
a {
    text-decoration: none;   
}
a:link {
    color: #226089;
}
a:hover{
    color: #4592af;
}
a:active{
    color: #596e79;
}

/*
MOBILE
*/
@media (max-width: 900px){
    .banner {
        min-height: 525px;
        max-height: 550px;
        max-width: 700px;
        display: flex;
        justify-content: space-between;
        margin: 0px auto 0 auto;
        margin-bottom: 0px;
        padding: 0px 0px;
    }
    .bg-img {
        min-height: 300px;
        max-height: 400px;
        max-width: 700px;
        color: #ffffff;
        font-size: 30px;
    }
    .bg-img-overlay {
        min-height: 300px;
        max-height: 400px;
    }
    .content-container {
        max-width: 700px;
    }
}

@media (max-width: 600px){
    .banner {
        min-height: 250px;
        max-height: 400px;
        min-width: 400px;
        max-width: 450px;
        margin: 0px auto 0 auto;
        margin-bottom: 0px;
        padding: 0px 0px;
    }
    .bg-img {
        min-height: 300px;
        max-height: 400px;
        max-width: 700px;
        color: #444;
        font-size: 24px;
    }
    .bg-img-overlay {
        min-height: 300px;
        max-height: 400px;
        
    }
    .content-container {
        min-height: 250px;
        max-height: 300px;
        max-width: 400px;
    }
}